<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sareweb.android.onddo"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ico"
        android:label="@string/app_name" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity android:name=".activity.StartActivity_" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.LogInActivity_"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.RegisterActivity_" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.OnddoMainActivity_" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.PickingsTabActivity_" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.MapTabActivity" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.PickingEditActivity_" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".activity.UserSettingsActivity_" 
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
    </application>

</manifest>